.container{
    background-color: #f1c0e8;
}
h1{
    color: #fbf8cc;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
}
#list{
    color: #b9fbc0;
}
#camera,#c_image{
    border: 5px double #8eecf5;
    width: 350px;
    height: 300px;
}
p{
    color: #f8961e;
}
